.techborg-course-module {
  margin-bottom: 2.5rem;
  padding: 1.5rem;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  min-height: 100vh;
  background-color: #f9f9f9;
  
}

.techborg-course-module-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #264653;
  border-bottom: 2px solid #4a7abe;
  padding-bottom: 0.3rem;
}

.techborg-course-content-block {
  margin-bottom: 1.5rem;
}

.techborg-course-content-block h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #1d3557;
}

.techborg-course-content-block p {
  font-size: 1rem;
  color: #333333;
  line-height: 1.6;
}

.techborg-course-content-image {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}
